{
  "parser": "babel-eslint",
  "extends": [],
  "plugins": ["babel", "react", "promise", "jest"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__STAG__": false,
    "__PROD__": false,
    "jest": false
  },
  "rules": {
    "space-before-function-paren": 0,
    "key-spacing": 0,
    "jsx-quotes": [2, "prefer-double"],
    "max-len": [2, 120, 2],
    "object-curly-spacing": [2, "always"]
  }
}
